<!DOCTYPE html>
    <html>
        <%- include ('./partials/head.ejs', {page: 'New'}) %>
        <%- include ('./partials/nav.ejs') %>
        <section class="selector">
            <form action="/packages" method="POST">
                <fieldset>
                    <legend>New package</legend>
                        <div class="form-group">
                          <label for="package-title">Package title</label>
                          <input type="text" placeholder ="package title" id="package" />
                        </div>

                        <!-- <div class="form-group">
                          <label for="package-title">Package title</label>
                          <input type="text" placeholder="title" id="package"/>
                        </div> -->

                        <div class="form-group">
                          <label for="package-image">Package image</label>
                          <input type="text" placeholder="package image" name="image"/>
                        </div>

                        <div class="form-group">
                          <label for="date">weight</label>
                          <input type="" placeholder="0,0lbs" name="weight"/>
                        </div>
                        <div class="form-group">
                          <label for="date">price</label>
                          <input type="" placeholder="$00" name="weight"/>
                        </div>

                        <div class="control">
                            <button class="button is-info">Create Package</button>
                        </div>
                </fieldset>
            </form>
        </section>
                
    </body>
</html>